html, body, *{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

body{
    /* background: linear-gradient(130deg, rgb(183, 183, 183), rgb(40, 40, 40) 100%);; */
    color: white;
    background: black;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(214, 191, 86);
    cursor: pointer;
}

#background-img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -10;
    opacity: 0.5;
}

h1{
    font-size: 4.5vw;
}

@media (max-width: 425px) {
    h1 {
        font-size: 10vw;
    }
}

.btn{
    background: rgb(214, 191, 86);
    border: 0;
}

.btn:hover {
    background: rgb(176, 157, 71);
}

.btn:active {
    background-color: black !important;
}

.fa-linkedin {
    overflow: hidden;
}

#BackToTopBTN, #LinkedInBTN{
    position: fixed;
    z-index: 100;
    padding: 15px;
    font-weight: 700;
    border-radius: 10%;
    opacity: 1;
    transition: 0.5s
}

#BackToTopBTN{
    right: 5%;
    bottom: 5%;
    background: black;
    color: white;
}

@media (max-width: 425px) {
    #BackToTopBTN{
        display: none;
    }

    #LinkedInBTN{
        font-size: 2rem !important;
    }
}

#LinkedInBTN{
    left: 5%;
    bottom: 5%;
    font-size: xxx-large;
    color: white;
}

#LinkedInBTN:hover, #BackToTopBTN:hover{
    color: rgb(214, 191, 86);
}



/* --------------------------NAVBAR-------------------------- */



#nav{
    /* font-family: 'Rock Salt', cursive; */
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    overflow-x: hidden;
    align-items: center;
    height: 10vh;
    background: black;
    color: white;
    z-index: 100;
}

.nav-info{
    width: 15vw;
    text-align: center;
}

#logo{
    display: flex;
    justify-content: center;
    height: 10vh;
    transition: 0.5s;
}

.nav-logo{
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}

.nav-logo.show{
    opacity: 1;
}

@media (max-width: 425px) {
    .nav-info {
        display: none;
    }
}


/* -------------------------------BANNER------------------------------- */



#banner{
    height: 100vh;
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
}

.bannerIMG{
    position: absolute;
    width: 45vw;
    left: 10vw;
}

@media (max-width: 425px) {
    .bannerIMG {
        width: 100vw;
        left: 0;
        right: 0;
    }
}

@media (max-width: 768px) {
    .bannerIMG {
        width: 80vw;
        left: 10vw;
        right: 10vw;
    }
}


/* ----------------------------ABOUT------------------------------- */




#about{
    height: 100vh;
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-IMG{
    width: 40vw;
}

.about-info{
    width: 40vw;
    text-align: center;
}

.about-paragraph{
    border: 1px solid rgb(120, 120, 120);
    padding: 15px;
    height: 50vh;
    overflow-y: scroll ;
}

@media (max-width: 768px) {
    #about {
        flex-direction: column;
        justify-content: center;
    }

    .about-IMG {
        width: 80vw;
    }

    .about-info {
        width: 80vw;
    }
}



/* ---------------------------S&J------------------------------- */




#SJ{
    height: 100vh;
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.SJ-info{
    width: 40vw;
    text-align: center;
}

.SJ-IMG{
    width: 40vw;
}

@media (max-width: 768px) {
    #SJ {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .SJ-IMG {
        width: 80vw;
    }

    .SJ-info {
        width: 80vw;
    }
}

/* ---------------------------Work Photos------------------------ */
.photo-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.work-photos-grid{
    height: 60vh;
    width: 60vw;
    margin: 0;
}

@media (max-width: 768px) {
    .work-photos-grid {
        width: 80vw;
    }
}

/* --------------------------Job Postings------------------------ */

.job-postings{
    min-height: 100vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: fit-content;
    min-height: 30vh;
    background: white;
    color: black;
    text-align: center;
    border-radius: 10%;
    margin: 2vw;
}

.job-postings-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    color: black;
    text-align: center;
}

.job-card .btn{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 425px) {
    .job-card {
        width: 80%;
    }
}

/* -------------------------ADMIN------------------------------- */

#edit-job{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    border: 15vw solid rgba(0, 0, 0, 0.563);
    color: black;
    text-align: center;
}

#edit-job .job-card{
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#edit-job .form-control{
    width: 50%;
    margin: auto;
}

/* --------------------------INSTAGRAM----------------------------- */

.instagram-div{
    display: flex;
    justify-content: center;
}

.instagram-media{
    max-width: 400px;
    width: 30vw;
}

@media (max-width: 425px) {
    .instagram-div {
        min-height: 100vh;
        align-items: center;
    }
}

/* ---------------------------CONTACT------------------------------ */

#contact{
    min-height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 425px) {
    #contact {
        flex-direction: column;
    }

    .form-control {
        width: 80vw !important;
    }

    .contact-form-div {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.contact-btn{
    z-index: 100;
    padding: 15px;
    font-weight: 700;
    border-radius: 10%;
    opacity: 1;
    transition: 0.5s;
    background: black;
    color: white;
    border: none;
}

.contact-btn:hover{
    color: rgb(255,229,122);
    background: black;
}

.form-control{
    width: 30vw;
}