html,
body,
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    /* background: linear-gradient(130deg, rgb(183, 183, 183), rgb(40, 40, 40) 100%);; */
    color: white;
    background: black;
    overflow-x: hidden;
    width: 100vw;
}

a,
button {
    text-decoration: none;
    color: white;
    background: black;
    border: 0px solid black;
}

a:hover,
button:hover {
    color: rgb(214, 191, 86);
    cursor: pointer;
}

#background-img {
    width: 105vw;
    height: 105vh;
    object-fit: cover;
    position: fixed;
    z-index: -10;
    opacity: 0.6;
    transition: opacity 0.1s ease-in-out;
    /* Smooth opacity change */
}

h1 {
    font-size: 4.5vw;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 8vw;
    }

    #background-img {
        object-position: 60% center;
    }
}

.btn {
    background: rgb(214, 191, 86);
    border: 0;
}

.btn-danger {
    background: red !important;
}

.btn-danger:hover {
    background: rgb(180, 0, 0) !important;
}

.btn:hover {
    background: rgb(176, 157, 71);
}

.btn:active {
    background-color: black !important;
}

.fa-linkedin,
.fa-square-facebook,
.fa-instagram {
    overflow: hidden;
}

#BackToTopBTN,
#socialdiv {
    position: fixed;
    z-index: 100;
    font-weight: 700;
    border-radius: 10%;
    opacity: 1;
    transition: 0.5s
}

#BackToTopBTN {
    right: 5%;
    bottom: 5%;
    background: black;
    color: white;
    padding: 15px;
}

#BackToTopBTN {
    opacity: 0;
    transition: 0.5s;
    margin-top: 5px;
}

#BackToTopBTN.show {
    opacity: 1;
}

@media (max-width: 500px) {
    #BackToTopBTN {
        display: none;
    }

    #LinkedInBTN,
    #FacebookBTN,
    #InstagramBTN {
        font-size: 2rem !important;
    }

    #socialdiv {
        width: 45px;
        flex-wrap: wrap;
        bottom: 3% !important;
    }
}

#socialdiv {
    display: flex;
    justify-content: space-between;
    left: 5%;
    bottom: 5%;
    background: rgba(255, 255, 255, 0);
}

#LinkedInBTN,
#FacebookBTN,
#InstagramBTN {
    font-size: xxx-large;
    color: white;
    background: rgba(255, 255, 255, 0);
    margin: 5px;
    padding: 0 !important;
    height: 40px;
}

#LinkedInBTN:hover,
#BackToTopBTN:hover,
#FacebookBTN:hover,
#InstagramBTN:hover {
    color: rgb(214, 191, 86);
}



/* --------------------------NAVBAR-------------------------- */

#nav {
    /* font-family: 'Rock Salt', cursive; */
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    overflow-x: hidden;
    align-items: center;
    height: 10vh;
    background: black;
    color: white;
    z-index: 100;
}

.nav-info {
    width: 15vw;
    text-align: center;
}

.nav-info-1 {
    margin-left: 10vw;
}

.nav-info-2 {
    margin-right: 10vw;
}

#logo {
    display: flex;
    justify-content: center;
    height: 8vh;
    transition: 0.5s;
}

.nav-logo {
    height: 80%;
    opacity: 0;
    transition: 0.5s;
    margin-top: 5px;
}

.nav-logo.show {
    opacity: 1;
}

@media (max-width: 500px) {
    #nav {
        height: 8vh;
    }
}

@media (max-width: 1024px) {
    .nav-info {
        display: none;
    }
}


/* -------------------------------BANNER------------------------------- */



#banner {
    height: 100vh;
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
}

.bannerIMG {
    position: absolute;
    width: 35vw;
    left: 10vw;
}

@media (max-width: 500px) {
    .bannerIMG {
        width: 100vw;
        left: 0;
        right: 0;
    }
}

@media (max-width: 1024px) {
    .bannerIMG {
        width: 70vw;
        left: 15vw;
        right: 15vw;
    }
}


/* ----------------------------ABOUT------------------------------- */

#about {
    min-height: 100vh;
    width: 85vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-IMG {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40vw;
    height: 50vh;
}

.about-info {
    width: 40vw;
    text-align: center;
}

.photo1,
.photo2,
.photo3,
.photo4,
.photo5,
.photo6,
.photo7,
.photo8,
.photo9,
.photo10,
.photo11,
.photo12 {
    width: 30%;
    aspect-ratio: 10/8;
    object-fit: cover;
}

.photo1,
.photo7 {
    transform: rotate(-10deg);
    margin-bottom: -10%;
}

.photo2,
.photo8 {
    margin-bottom: -10%;
}

.photo3,
.photo9 {
    transform: rotate(10deg);
    margin-bottom: -10%;
}

.photo4,
.photo10 {
    transform: rotate(5deg);
    margin-top: -10%
}

.photo5,
.photo11 {
    margin-top: -10%;
}

.photo6,
.photo12 {
    transform: rotate(-10deg);
    margin-top: -10%;
}

.about-IMG.mobile {
    display: none;
}

@media (max-width: 500px) {
    #about {
        width: 80vw !important;
    }

    .about-IMG.mobile {
        display: flex;
    }

    .about-IMG.desktop {
        display: none;
    }

    .about-IMG {
        margin-top: -10vh;
        margin-bottom: -5vh;
    }

    .photo2,
    .photo4,
    .photo6,
    .photo8,
    .photo10,
    .photo12 {
        display: none;
    }

    .photo1,
    .photo3,
    .photo5,
    .photo7,
    .photo9,
    .photo11 {
        width: 49%;
    }

    .photo5 {
        z-index: 10;
    }

    .photo1,
    .photo7 {
        transform: rotate(-10deg);
        margin-bottom: -150px;
    }

    .photo2,
    .photo8 {
        margin-bottom: -105px;
    }

    .photo3,
    .photo9 {
        transform: rotate(10deg);
        margin-bottom: -150px;
    }

    .photo4,
    .photo10 {
        transform: rotate(5deg);
        margin-top: -150px
    }

    .photo5,
    .photo11 {
        margin-top: -105px;
    }

    .photo6,
    .photo12 {
        transform: rotate(-10deg);
        margin-top: -100px;
    }
}

@media (max-width: 1024px) {
    #about {
        flex-direction: column;
        justify-content: center;
    }

    .about-IMG {
        width: 80vw;
    }

    .about-info {
        width: 80vw;
    }
}

/* --------------------------Job Photos-------------------------- */

.photos-grid {
    min-height: 120vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    padding-bottom: 15vh;
}

.slide-card {
    width: 17vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    overflow: hidden;
    background: black;
}

.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transform: scale(1.1);
    z-index: 0;
}

.main-img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption {
    font-weight: 500;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

/* Overlay for enlarged image */
.lightbox-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
}

.lightbox-image {
    max-width: 75vw;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 8px;
    cursor: default;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.lightbox-caption {
    color: white;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    max-width: 75vw;
}

/* Optional fade-in animation */
.lightbox-overlay {
    animation: fadeIn 0.15s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media (max-width: 800px) {
    .photos-grid {
        justify-content: center;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .slide-card {
        width: 45vw;
        margin-top: 2vh;
    }
}



/* --------------------------Job Postings------------------------ */

.job-postings {
    min-height: 80vh;
    padding-top: 20vh;
    display: flex;
    justify-content: center;
}

.job-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: fit-content;
    min-height: 30vh;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-align: center;
    border-radius: 10%;
    border: 5px solid rgb(214, 191, 86);
    margin: 2vw;
    padding: 20px;
}

.job-card.nojob {
    width: 60%
}

.job-postings-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    color: black;
    text-align: center;
}

.job-card .btn {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 500px) {
    .job-postings {
        padding-top: 10vh;
        margin: auto;
        width: 80vw;
    }

    .job-card {
        width: 80% !important;
    }
}

@media (max-width: 768px) {
    .job-card {
        width: 40%;
    }
}

@media (max-width: 1200px) {
    .job-card h2 {
        font-size: x-large;
    }
}

/* -------------------------ADMIN------------------------------- */

#edit-job {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    border: 15vw solid rgba(0, 0, 0, 0.563);
    color: black;
    text-align: center;
}

#edit-job .job-card {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#edit-job .form-control {
    width: 50%;
    margin: auto;
}

.admin-photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    margin-bottom: 20vh;
    margin: auto;
}

.admin-photos-row {
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.admin-photo-div {
    width: 10vw;
}

.admin-job-photos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.admin-job-photos-cards {
    display: flex;
    justify-content: space-around;
    width: 80vw;
}

.admin-job-photos-cards .form-control {
    width: 100%;
}

.admin-job-photos-cards .card {
    width: 15vw;
}

/* --------------------------INSTAGRAM----------------------------- */

.instagram-div {
    display: flex;
    justify-content: center;
}

.instagram-media {
    max-width: 400px;
    width: 30vw;
}

@media (max-width: 500px) {
    .instagram-div {
        align-items: center;
    }
}

/* ---------------------------CONTACT------------------------------ */

#contact {
    min-height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1024px) {
    #contact {
        flex-direction: column;
        margin-bottom: 10vh;
    }

    .form-control {
        width: 80vw !important;
    }

    .contact-form-div {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.contact-btn {
    z-index: 100;
    padding: 15px;
    font-weight: 700;
    border-radius: 10%;
    opacity: 1;
    transition: 0.5s;
    background: black;
    color: white;
    border: none;
}

.contact-btn:hover {
    color: rgb(255, 229, 122);
    background: black;
}

.form-control {
    width: 30vw;
}

form .form-control,
form div {
    margin-bottom: 5px;
}

/* ------------------------FOOTER------------------------- */

footer {
    min-height: 20vh;
    background: black;
}

footer div {
    margin: 0;
}

/* --------------------------PARTNERS------------------------------------ */

#partners {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (max-width: 900px) {
    #partners {
        min-height: 100vh;
    }

    #partners h2 {
        font-size: 6vw !important;
    }
}

#partners h2 {
    font-size: 3vw;
}

.partners-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Fade edges */
.fade-left,
.fade-right {
    position: absolute;
    top: 0;
    height: 160px;
    margin-top: 20px;
    width: 120px;
    z-index: 5;
    pointer-events: none;
}

.fade-left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
}

.fade-right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
}

/* viewport */
.partners-viewport {
    overflow: hidden;
    width: 100%;
}

/* THIS is what animates */
.partners-track {
    display: flex;
    gap: 20px;
    padding: 20px 16px;
    width: max-content;

    animation: scrollPartners 35s linear infinite;
}

@media (max-width: 900px) {
    .partners-track {
        animation: scrollPartners 55s linear infinite;
    }
}

/* cards */
.partner-card {
    width: 300px;
    height: 160px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.partner-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* animation */
@keyframes scrollPartners {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}